.navbar-brand img{
    width: 110px;
}
.nav-link{
    color: #8611aa !important;
    font-weight: 600;
    margin-left: 20px;
}
.wrapper{
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 2px rgba(37,73,214,069);
}
.Feature-box{
    padding: 30px;
}
.Feature-box h1{
    margin-top: 20%;
    color:#8611aa;
}
.Feature-box p{
    margin: 50px auto;
    color: rgb(87, 90, 89);
}
.Feature-box a{
    text-decoration: none !important;
    background: #b48ec0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 30px;
    border: 2px solid !important;
    color: rgb(23, 58, 89);
}
.btn-one:hover{
    color: blue;
}
.btn-two{
    background: none !important;
    color: rgb(94, 19, 95);
}
.feature-img{
    width: 100%;
    padding: 40px;
}
.wave-img{
    width: 100%;
    position: absolute;
    display: block;
    top: 85%;
    z-index: -1;
    opacity: 0.9;
}
@media screen and(max-width:99px){
    .wave-img{
        display: none;
    }
    .Feature-box a{
        padding: 5px 8px;
        margin-left: 10px;
    }
}